@font-face {
    font-family: 'Pilot';
    src: url('./fontes/PilotCommand.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pilot';
    src: url('./fontes/PilotCommandBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'PilotHalf';
    src: url('./fontes/PilotCommandHalftone.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pilot3D';
    src: url('./fontes/PilotCommand3D.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --chumbo: #122932;
    --lavanda: #b49fccff;
    --mindaro: #d6ff79ff;
    --mint-green: #b0ff92ff;
    --rhythm: #7c72a0ff;
    --color1: #31827c;
    --color2: #95c68f;
    --color3: #f7e9aa;
    --color4: #fc8a80;
    --color5: #fd4e6d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--lavanda);
    display: flex;
    flex-direction: column;
}
h1 {
    font-family: 'Pilot3d', Courier, monospace;
    font-size: 100px;
    color: var(--color5);
    text-align: center;
    margin-bottom: 20px;
}
main {
    min-width: 80%;
    margin: auto;
}
.options {
    display: flex;
    padding: 50px 30px 0px 30px;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color2);
}
.img_options {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    border: 1px solid var(--rhythm);
    border-radius: 50%;
    background-color: var(--color3);
}
.img_options img {
    height: 150px;
    width: auto;
}
.options span,
.score_play span {
    font-size: 110px;
    font-family: 'Pilot', Courier, monospace;
    font-weight: bold;
    color: var(--color5);
}
.score_play strong {
    font-size: 100px;
    font-family: 'Pilot3D', Courier, monospace;
    width: 200px;
    text-align: center;
    color: var(--color5);
}

.score_play {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 30px 50px;
    background-color: var(--color2);
}
.gameControls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color4);
}
.gameControls button {
    height: 100px;
    width: 100px;
    margin: 20px;
    border-radius: 50px;
    border: none;
    overflow: hidden;
    background-color: var(--color3);
    border: 1px solid var(--rhythm);
}

.gameControls button:disabled {
    cursor: not-allowed;
}

.gameControls button img {
    height: 100%;
    padding: 10px;
}

footer {
    background-color: var(--mindaro);
    min-width: 80%;
    margin: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
}

footer strong {
    font-size: 50px;
    font-family: 'Pilot', Courier, monospace;
    margin: 10px auto;
}
.score {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.score span {
    font-size: 20px;

    font-weight: bold;
}

.winner {
    font-size: 15px;
    height: 90px;
}

.robo {
    background: url('./imagens/robo.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.jogador {
    background: url('./imagens/jogador.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.draw {
    background: url('./imagens/empate.png');
    background-repeat: no-repeat;
    background-size: contain;
}
