@font-face {
    font-family: 'Pilot';
    src: url('./fontes/PilotCommand.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pilot';
    src: url('./fontes/PilotCommandBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'PilotHalf';
    src: url('./fontes/PilotCommandHalftone.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pilot3D';
    src: url('./fontes/PilotCommand3D.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --chumbo: #122932;
    --lavanda: #b49fccff;
    --mindaro: #d6ff79ff;
    --mint-green: #b0ff92ff;
    --rhythm: #7c72a0ff;
    --color1: #31827c;
    --color2: #95c68f;
    --color3: #f7e9aa;
    --color4: #fc8a80;
    --color5: #fd4e6d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--lavanda);
    display: flex;
    flex-direction: column;
    color: var(--chumbo);
}

h1 {
    font-family: 'Pilot3d', Courier, monospace;
    font-size: 100px;
    color: var(--color5);
    text-align: center;
    margin-bottom: 20px;
}

main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* referentes a primeira parte do jogo... onde temos a imagem das jogadas tanto do jogador qnto computador*/
.options {
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color2);
}

.img_options {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    border: 1px solid var(--rhythm);
    border-radius: 50%;
    background-color: var(--color3);
}

.img_options img {
    height: 150px;
    width: auto;
}

.options span,
.score_play span {
    font-size: 110px;
    font-family: 'Pilot', Courier, monospace;
    font-weight: bold;
}

.playerContainer {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.playerContainer h2 {
    font-size: 50px;
    font-family: 'Pilot', Courier, monospace;
    margin-bottom: 20px;
}

.playerContainer strong {
    font-size: 80px;
    font-family: 'Pilot3D', Courier, monospace;
    width: 200px;
    text-align: center;
    margin-top: 20px;
}

.score_play {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 30px 50px;
    background-color: var(--color2);
}

/* são as maozinhas para jogar*/

.gameControls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color4);

    flex: 1;
}

.gameControls button:not(.resetButton) {
    flex: 1;
    max-height: 120px;
    max-width: 120px;
    margin: 20px;
    border-radius: 60px;

    overflow: hidden;
    background-color: var(--color3);
    border: 1px solid var(--rhythm);
    box-shadow: 3px 3px 5px 0 var(--chumbo);
}

.gameControls button:not(.resetButton):hover {
    max-height: 130px;
    max-width: 130px;
    border-radius: 65px;
    border: 2px solid var(--rhythm);
    box-shadow: 3px 3px 5px 0 var(--chumbo);
}

.gameControls button.resetButton {
    border-radius: 60px;
    background-color: var(--color3);
    border: 1px solid var(--rhythm);
    box-shadow: 3px 3px 5px 0 var(--chumbo);
    font-size: 40px;
    padding: 20px;
    margin: 20px;
}

.gameControls button:disabled {
    cursor: not-allowed;
}

.gameControls button img {
    height: 120px;
    padding: 10px;
}

footer {
    background-color: var(--mindaro);
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

footer strong {
    font-size: 50px;
    font-family: 'Pilot', Courier, monospace;
    margin: 10px auto;
}

.score {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.score span {
    font-size: 20px;

    font-weight: bold;
}

.winner {
    font-size: 15px;
    height: 90px;
}

.robo {
    background: url('./imagens/robo.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.jogador {
    background: url('./imagens/jogador.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.draw {
    background: url('./imagens/empate.png');
    background-repeat: no-repeat;
    background-size: contain;
}
